torch
torchaudio
gradio
huggingface_hub<1.0.0
sam_audio
#git+https://github.com/facebookresearch/sam-audio.git
#git+https://github.com/facebookresearch/ImageBind.git
argparse

transformers
safetensors

nvidia-ml-py

pynvml

setuptools<81
