torch
torchaudio
torchvision
torchcodec
gradio
huggingface_hub<1.0.0
transformers>=4.54.0
safetensors
numpy
einops
pydub
torchdiffeq
audiobox-aesthetics
argbind>=0.3.7
descript-audiotools>=0.7.2
tqdm
timm
ftfy
regex
iopath
omegaconf
msgspec
pillow
opencv-python
scikit-learn
sentencepiece
tokenizers
fsspec
webdataset
fastapi
uvicorn[standard]
python-multipart
nvidia-ml-py
setuptools<81
